.block{
  position:relative;
  width: 100%;
  margin-top:-20px;
  padding: 95px 0 95px 0;
  background-color: white;
}

.block.bgImage{
  background-image:url("images/neurons.jpg");
  background-size: cover;
}

.whiteText{
  color:#f8f8ff;
}

.blackText{
  color:#000;
}